git+https://github.com/USEPA/esupy.git@develop#egg=esupy
git+https://github.com/USEPA/fedelemflowlist.git#egg=fedelemflowlist
pip>=23.3     # must specify when using pip installs
numpy>=2.2.6,<3
pandas>=2.3.0
requests
scipy
pypardiso>=0.4.7    # fast sparse solver
openpyxl
pyyaml>=6.0,<7.0.0
python-dotenv>=1.0,<2.0.0
matplotlib
seaborn
stats_arrays>=2.0

# BW2.5 pkgs
brightway25>=1.1.1
bw2analyzer>=0.11.37
bw2calc>=2.5.0
bw2data>=4.7
bw2io>=0.9.17
bw2parameters>=1.1.0
bw_migrations>=0.2
bw_processing>=1.2
bw_simapro_csv>=0.4.3
ecoinvent_interface>=3.1
matrix_utils>=0.7.1
mrio_common_metadata>=0.2.1
multifunctional>=1.1.1
randonneur>=0.7.2
randonneur_data>=0.7.2
