# Copy to a new file to wmcli/extract/API_Keys.env and add your keys
# Format: KEY_NAME = "XXXX" where KEY_NAME is defined in the extract yamls

FLCAC = "XXXXX"  # Generate key: https://api.data.gov/signup/
